<tr bgcolor="#fff" style="padding: 3.7% 3.7% 3.7% 3.7%">
  <td style="padding: 3.7% 3.7% 3.7% 3.7%">
    <p style="color: #3c3f44; font-family: 'Roboto', sans-serif">
      {{ influencerName }} ha aceptado a colaborar contigo en la campaña
      {{campaignTitle}}.
    </p>
  </td>
</tr>

<tr bgcolor="#fff" style="padding: 3.7% 3.7% 3.7% 3.7%">
  <td style="padding: 3.7% 3.7% 3.7% 3.7%">
    <a
      href="{{ baseURL }}/campaign/{{ campaignId }}/{{ influencerId }}"
      style="
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-decoration: none;
        background-color: #d100ff;
        color: #fff;
        padding: 2.5%;
        border-radius: 25px;
        cursor: pointer;
      "
    >
      Comenzar colaboración
    </a>
  </td>
</tr>
