<tr bgcolor="#fff" style="padding: 3.7% 3.7% 3.7% 3.7%">
  <td style="padding: 3.7% 3.7% 3.7% 3.7%">
    <p style="color: #3c3f44; font-family: 'Roboto', sans-serif">
      Ти си поканен от {{ organizationName }} за колабориране в
      {{campaignTitle}} кампания. Разполагаш с 24 часа да приемеш или откажеш
      колаборацията. При приемане на колаборацията, ще можеш да преговаряш в
      чата по условията на офертата.
    </p>
  </td>
</tr>

<tr bgcolor="#fff" style="padding: 3.7% 3.7% 3.7% 3.7%">
  <td style="padding: 3.7% 3.7% 3.7% 3.7%">
    <a
      href="{{ baseURL }}/invitation/start/{{ token }}/{{ campaignId }}"
      style="
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-decoration: none;
        background-color: #d100ff;
        color: #fff;
        padding: 2.5%;
        border-radius: 25px;
        cursor: pointer;
      "
    >
      Виж поканата
    </a>
  </td>
</tr>
