<tr bgcolor="#fff" style="padding: 3.7% 3.7% 3.7% 3.7%">
  <td style="padding: 3.7% 3.7% 3.7% 3.7%">
    <p style="color: #3c3f44; font-family: 'Roboto', sans-serif">
      Here is a link to reset your password
    </p>
  </td>
</tr>

<tr bgcolor="#fff" style="padding: 3.7% 3.7% 3.7% 3.7%">
  <td style="padding: 3.7% 3.7% 3.7% 3.7%">
    <a
      href="{{ baseURL }}/forgot_password/{{ token }}"
      style="
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        background-color: #d100ff;
        text-decoration: none;
        color: #fff;
        padding: 2.5%;
        border-radius: 25px;
        cursor: pointer;
      "
    >
      Reset password
    </a>
  </td>
</tr>
