<tr bgcolor="#fff" style="padding: 3.7% 3.7% 3.7% 3.7%">
  <td style="padding: 3.7% 3.7% 3.7% 3.7%">
    <p style="color: #3c3f44; font-family: 'Roboto', sans-serif">
      You've got a new message from {{ influencerName }} regarding the
      {{campaignTitle}} campaign:
    </p>
    <p style="border-left: 4px solid #fbf0ff; padding-left: 1.7%">
      <i>{{ message }}</i>
    </p>
  </td>
</tr>

<tr bgcolor="#fff" style="padding: 3.7% 3.7% 3.7% 3.7%">
  <td style="padding: 3.7% 3.7% 3.7% 3.7%">
    <a
      href="{{ baseURL }}/campaign/{{ campaignId }}/{{ influencerId }}"
      style="
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-decoration: none;
        background-color: #d100ff;
        color: #fff;
        padding: 2.5%;
        border-radius: 25px;
        cursor: pointer;
      "
    >
      Go to campaign page
    </a>
  </td>
</tr>
